@font-face {
  font-family: "Regular";
  src: url(./assets/fonts/proximanova_regular.ttf);
}
@font-face {
  font-family: "Bold";
  src: url(./assets/fonts/proximanova_bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main: rgb(33, 5, 53);
  --secondary: #c9d6d9;
  --regular: "Regular";
  --bold: "Bold";
  --width: calc(100% - 40px);
}